# Cleaning

Prior to performing EDA I conducted my cleaning process in this notebook. This notebook is the final result of the various cleaning methods performed, put into several functions. During the EDA process I actually updated this notebook with additional cleaning.

## Import and Set Up Data

In [1]:
import pandas as pd
import numpy as np

# pd.set_option('max_columns', None)
# pd.set_option('max_rows', None)

In [2]:
#Loading the datasets to be used for the project
train_df = pd.read_csv('./datasets/train.csv')
test_df = pd.read_csv('./datasets/test.csv')

In [19]:
train_df.head(1)

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
109,533352170,60,RL,0.0,13517,Pave,NA,IR1,Lvl,AllPub,...,0,0,0,0,NA,0,3,2010,WD,130500

In [4]:
# seting the Id column to be the index for each of the dataframes
train_df.set_index('Id', inplace = True)
test_df.set_index('Id', inplace = True)

In [20]:
train_df.head(1)

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
109,533352170,60,RL,0.0,13517,Pave,NA,IR1,Lvl,AllPub,...,0,0,0,0,NA,0,3,2010,WD,130500

In [21]:
test_df.head(1)

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
Id,,,,,,,,,,,,,,,,,,,,,
2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,0,0,0,NA,0,4,2006,WD

In [7]:
# Check for null/missing values
train_df.isnull().sum()

PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    330
Lot Area          0
               ...
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
SalePrice         0
Length: 80, dtype: int64

In [8]:
# check types of each column
train_df.dtypes

PID               int64
MS SubClass       int64
MS Zoning        object
Lot Frontage    float64
Lot Area          int64
                 ...
Misc Val          int64
Mo Sold           int64
Yr Sold           int64
Sale Type        object
SalePrice         int64
Length: 80, dtype: object

### Created a function that would output a readable version of all of the unique values and value counts for each column.

In [9]:
def columns_values(dataframe):
    for n in dataframe.columns:                               # cycle through the columns in dataframe
        column = n  
        value_counts = (dataframe[column].value_counts())     # run value counts for each column
        unique_values = (dataframe[column].unique())          # run unique values for each column 
        len_counts = len(value_counts)                        # how many items are counted in value counts
        len_unique = len(unique_values)                       # how many items are counted in unique values
        if (len(value_counts)< 100):                          # ignore columns where counts over 100
                print(f"{column} has length of {len_unique}") # print how many unique values there are
                print(unique_values)                          # print unique values for column 
                print("="*30)                                  
                print(f"{column} has length of {len_counts}") # print how many values are counted
                print(value_counts)                           # print unique values counted
                print("="*60)

In [10]:
columns_values(train_df)

MS SubClass has length of 16
[ 60  20  50 180 160  70 120 190  85  30  90  80  75  45  40 150]
==============================
MS SubClass has length of 16
20     770
60     394
50     198
120    132
30     101
70      90
160     88
80      86
90      75
190     46
85      28
75      16
45      11
180     11
40       4
150      1
Name: MS SubClass, dtype: int64
============================================================
MS Zoning has length of 7
['RL' 'RM' 'FV' 'C (all)' 'A (agr)' 'RH' 'I (all)']
==============================
MS Zoning has length of 7
RL         1598
RM          316
FV          101
C (all)      19
RH           14
A (agr)       2
I (all)       1
Name: MS Zoning, dtype: int64
============================================================
Street has length of 2
['Pave' 'Grvl']
==============================
Street has length of 2
Pave    2044
Grvl       7
Name: Street, dtype: int64
============================================================
Alley has length of 3
[nan 'Pave' 'Grvl']
==============================
Alley has length of 2
Grvl    85
Pave    55
Name: Alley, dtype: int64
============================================================
Lot Shape has length of 4
['IR1' 'Reg' 'IR2' 'IR3']
==============================
Lot Shape has length of 4
Reg    1295
IR1     692
IR2      55
IR3       9
Name: Lot Shape, dtype: int64
============================================================
Land Contour has length of 4
['Lvl' 'HLS' 'Bnk' 'Low']
==============================
Land Contour has length of 4
Lvl    1843
HLS      85
Bnk      80
Low      43
Name: Land Contour, dtype: int64
============================================================
Utilities has length of 3
['AllPub' 'NoSeWa' 'NoSewr']
==============================
Utilities has length of 3
AllPub    2049
NoSeWa       1
NoSewr       1
Name: Utilities, dtype: int64
============================================================
Lot Config has length of 5
['CulDSac' 'Inside' 'Corner' 'FR2' 'FR3']
==============================
Lot Config has length of 5
Inside     1503
Corner      348
CulDSac     131
FR2          60
FR3           9
Name: Lot Config, dtype: int64
============================================================
Land Slope has length of 3
['Gtl' 'Sev' 'Mod']
==============================
Land Slope has length of 3
Gtl    1953
Mod      88
Sev      10
Name: Land Slope, dtype: int64
============================================================
Neighborhood has length of 28
['Sawyer' 'SawyerW' 'NAmes' 'Timber' 'Edwards' 'OldTown' 'BrDale'
 'CollgCr' 'Somerst' 'Mitchel' 'StoneBr' 'NridgHt' 'Gilbert' 'Crawfor'
 'IDOTRR' 'NWAmes' 'Veenker' 'MeadowV' 'SWISU' 'NoRidge' 'ClearCr'
 'Blmngtn' 'BrkSide' 'NPkVill' 'Blueste' 'GrnHill' 'Greens' 'Landmrk']
==============================
Neighborhood has length of 28
NAmes      310
CollgCr    180
OldTown    163
Edwards    143
Somerst    130
NridgHt    122
Gilbert    116
Sawyer     111
NWAmes      87
SawyerW     87
Mitchel     82
BrkSide     76
Crawfor     71
IDOTRR      69
NoRidge     48
Timber      48
StoneBr     38
SWISU       32
ClearCr     27
MeadowV     24
Blmngtn     22
BrDale      19
NPkVill     17
Veenker     17
Blueste      6
Greens       3
GrnHill      2
Landmrk      1
Name: Neighborhood, dtype: int64
============================================================
Condition 1 has length of 9
['RRAe' 'Norm' 'PosA' 'Artery' 'Feedr' 'PosN' 'RRAn' 'RRNe' 'RRNn']
==============================
Condition 1 has length of 9
Norm      1767
Feedr      109
Artery      70
RRAn        36
PosN        27
RRAe        21
PosA        12
RRNn         6
RRNe         3
Name: Condition 1, dtype: int64
============================================================
Condition 2 has length of 8
['Norm' 'RRNn' 'Feedr' 'Artery' 'PosA' 'PosN' 'RRAe' 'RRAn']
==============================
Condition 2 has length of 8
Norm      2025
Feedr       11
Artery       5
PosA         3
PosN         3
RRNn         2
RRAn         1
RRAe         1
Name: Condition 2, dtype: int64
============================================================
Bldg Type has length of 5
['1Fam' 'TwnhsE' 'Twnhs' '2fmCon' 'Duplex']
==============================
Bldg Type has length of 5
1Fam      1700
TwnhsE     161
Duplex      75
Twnhs       69
2fmCon      46
Name: Bldg Type, dtype: int64
============================================================
House Style has length of 8
['2Story' '1Story' '1.5Fin' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin' '1.5Unf']
==============================
House Style has length of 8
1Story    1059
2Story     598
1.5Fin     218
SLvl        94
SFoyer      50
2.5Unf      14
1.5Unf      12
2.5Fin       6
Name: House Style, dtype: int64
============================================================
Overall Qual has length of 10
[ 6  7  5  8 10  4  9  3  2  1]
==============================
Overall Qual has length of 10
5     563
6     506
7     431
8     250
4     159
9      77
3      29
10     23
2       9
1       4
Name: Overall Qual, dtype: int64
============================================================
Overall Cond has length of 9
[8 5 7 6 3 9 2 4 1]
==============================
Overall Cond has length of 9
5    1168
6     368
7     270
8     101
4      70
3      35
9      29
2       6
1       4
Name: Overall Cond, dtype: int64
============================================================
Year Remod/Add has length of 61
[2005 1997 2007 1993 2002 2006 1959 1952 1969 1971 2000 1950 1963 1977
 2009 1968 1955 1961 1995 1981 1996 2008 1958 1973 1994 1965 1978 1954
 1960 2004 1970 1951 1975 1953 2001 2010 2003 1979 1964 1956 1972 1957
 1992 1962 1998 1990 1967 1985 1987 1988 1976 1984 1999 1966 1980 1989
 1991 1986 1982 1983 1974]
==============================
Year Remod/Add has length of 61
1950    262
2006    139
2007    123
2005    100
2004     83
       ...
1952      9
2010      8
1983      7
1981      6
1982      3
Name: Year Remod/Add, Length: 61, dtype: int64
============================================================
Roof Style has length of 6
['Gable' 'Hip' 'Flat' 'Mansard' 'Shed' 'Gambrel']
==============================
Roof Style has length of 6
Gable      1619
Hip         397
Flat         13
Gambrel      12
Mansard       7
Shed          3
Name: Roof Style, dtype: int64
============================================================
Roof Matl has length of 6
['CompShg' 'WdShngl' 'Tar&Grv' 'WdShake' 'Membran' 'ClyTile']
==============================
Roof Matl has length of 6
CompShg    2025
Tar&Grv      15
WdShngl       5
WdShake       4
ClyTile       1
Membran       1
Name: Roof Matl, dtype: int64
============================================================
Exterior 1st has length of 15
['HdBoard' 'VinylSd' 'Wd Sdng' 'BrkFace' 'Plywood' 'MetalSd' 'AsbShng'
 'CemntBd' 'WdShing' 'Stucco' 'BrkComm' 'Stone' 'CBlock' 'ImStucc'
 'AsphShn']
==============================
Exterior 1st has length of 15
VinylSd    724
MetalSd    331
HdBoard    300
Wd Sdng    276
Plywood    152
CemntBd     90
BrkFace     64
WdShing     45
AsbShng     33
Stucco      27
BrkComm      3
CBlock       2
Stone        2
ImStucc      1
AsphShn      1
Name: Exterior 1st, dtype: int64
============================================================
Exterior 2nd has length of 15
['Plywood' 'VinylSd' 'Wd Sdng' 'HdBoard' 'MetalSd' 'AsbShng' 'CmentBd'
 'Wd Shng' 'BrkFace' 'Stucco' 'Brk Cmn' 'ImStucc' 'Stone' 'CBlock'
 'AsphShn']
==============================
Exterior 2nd has length of 15
VinylSd    721
MetalSd    324
HdBoard    275
Wd Sdng    262
Plywood    185
CmentBd     90
Wd Shng     63
BrkFace     34
Stucco      30
AsbShng     28
Brk Cmn     17
ImStucc     11
Stone        6
AsphShn      3
CBlock       2
Name: Exterior 2nd, dtype: int64
============================================================
Mas Vnr Type has length of 5
['BrkFace' 'None' nan 'Stone' 'BrkCmn']
==============================
Mas Vnr Type has length of 4
None       1218
BrkFace     630
Stone       168
BrkCmn       13
Name: Mas Vnr Type, dtype: int64
============================================================
Exter Qual has length of 4
['Gd' 'TA' 'Ex' 'Fa']
==============================
Exter Qual has length of 4
TA    1247
Gd     697
Ex      81
Fa      26
Name: Exter Qual, dtype: int64
============================================================
Exter Cond has length of 5
['TA' 'Gd' 'Fa' 'Ex' 'Po']
==============================
Exter Cond has length of 5
TA    1778
Gd     215
Fa      49
Ex       7
Po       2
Name: Exter Cond, dtype: int64
============================================================
Foundation has length of 6
['CBlock' 'PConc' 'BrkTil' 'Slab' 'Stone' 'Wood']
==============================
Foundation has length of 6
PConc     926
CBlock    863
BrkTil    221
Slab       34
Stone       5
Wood        2
Name: Foundation, dtype: int64
============================================================
Bsmt Qual has length of 6
['TA' 'Gd' 'Fa' nan 'Ex' 'Po']
==============================
Bsmt Qual has length of 5
TA    887
Gd    864
Ex    184
Fa     60
Po      1
Name: Bsmt Qual, dtype: int64
============================================================
Bsmt Cond has length of 6
['TA' 'Gd' nan 'Fa' 'Po' 'Ex']
==============================
Bsmt Cond has length of 5
TA    1834
Gd      89
Fa      65
Po       5
Ex       3
Name: Bsmt Cond, dtype: int64
============================================================
Bsmt Exposure has length of 5
['No' 'Gd' 'Av' nan 'Mn']
==============================
Bsmt Exposure has length of 4
No    1339
Av     288
Gd     203
Mn     163
Name: Bsmt Exposure, dtype: int64
============================================================
BsmtFin Type 1 has length of 7
['GLQ' 'Unf' 'ALQ' 'Rec' nan 'BLQ' 'LwQ']
==============================
BsmtFin Type 1 has length of 6
GLQ    615
Unf    603
ALQ    293
BLQ    200
Rec    183
LwQ    102
Name: BsmtFin Type 1, dtype: int64
============================================================
BsmtFin Type 2 has length of 7
['Unf' 'Rec' nan 'BLQ' 'GLQ' 'LwQ' 'ALQ']
==============================
BsmtFin Type 2 has length of 6
Unf    1749
Rec      80
LwQ      60
BLQ      48
ALQ      35
GLQ      23
Name: BsmtFin Type 2, dtype: int64
============================================================
Heating has length of 5
['GasA' 'GasW' 'Grav' 'Wall' 'OthW']
==============================
Heating has length of 5
GasA    2018
GasW      20
Wall       6
Grav       5
OthW       2
Name: Heating, dtype: int64
============================================================
Heating QC has length of 5
['Ex' 'TA' 'Gd' 'Fa' 'Po']
==============================
Heating QC has length of 5
Ex    1065
TA     597
Gd     319
Fa      67
Po       3
Name: Heating QC, dtype: int64
============================================================
Central Air has length of 2
['Y' 'N']
==============================
Central Air has length of 2
Y    1910
N     141
Name: Central Air, dtype: int64
============================================================
Electrical has length of 5
['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix']
==============================
Electrical has length of 5
SBrkr    1868
FuseA     140
FuseF      35
FuseP       7
Mix         1
Name: Electrical, dtype: int64
============================================================
Low Qual Fin SF has length of 31
[   0  205   80  528  513  371  473  108 1064  515  120  312  572  234
  390  697  114  512  144  514  397  140  479  259  436  156  384  360
   53  362  450]
==============================
Low Qual Fin SF has length of 31
0       2018
80         3
205        2
436        1
108        1
114        1
120        1
140        1
144        1
156        1
234        1
312        1
360        1
362        1
384        1
390        1
697        1
515        1
512        1
514        1
528        1
572        1
1064       1
53         1
259        1
371        1
397        1
473        1
479        1
513        1
450        1
Name: Low Qual Fin SF, dtype: int64
============================================================
Bsmt Full Bath has length of 5
[ 0.  1.  2. nan  3.]
==============================
Bsmt Full Bath has length of 4
0.0    1200
1.0     824
2.0      23
3.0       2
Name: Bsmt Full Bath, dtype: int64
============================================================

Bsmt Half Bath has length of 4
[ 0.  1. nan  2.]
==============================
Bsmt Half Bath has length of 3
0.0    1923
1.0     122
2.0       4
Name: Bsmt Half Bath, dtype: int64
============================================================
Full Bath has length of 5
[2 1 3 0 4]
==============================
Full Bath has length of 5
2    1096
1     900
3      45
0       8
4       2
Name: Full Bath, dtype: int64
============================================================
Half Bath has length of 3
[1 0 2]
==============================
Half Bath has length of 3
0    1308
1     725
2      18
Name: Half Bath, dtype: int64
============================================================
Bedroom AbvGr has length of 8
[3 4 2 5 1 0 6 8]
==============================
Bedroom AbvGr has length of 8
3    1108
2     544
4     265
1      75
5      41
6      12
0       5
8       1
Name: Bedroom AbvGr, dtype: int64
============================================================
Kitchen AbvGr has length of 4
[1 2 0 3]
==============================
Kitchen AbvGr has length of 4
1    1960
2      88
0       2
3       1
Name: Kitchen AbvGr, dtype: int64
============================================================
Kitchen Qual has length of 4
['Gd' 'TA' 'Fa' 'Ex']
==============================
Kitchen Qual has length of 4
TA    1047
Gd     806
Ex     151
Fa      47
Name: Kitchen Qual, dtype: int64
============================================================
TotRms AbvGrd has length of 14
[ 6  8  5  7  9  4 12 11 10  3 14  2 13 15]
==============================
TotRms AbvGrd has length of 14
6     597
7     475
5     407
8     228
4     146
9      98
10     49
11     22
12     13
3      12
15      1
13      1
14      1
2       1
Name: TotRms AbvGrd, dtype: int64
============================================================
Functional has length of 8
['Typ' 'Mod' 'Min2' 'Maj1' 'Min1' 'Sev' 'Sal' 'Maj2']
==============================
Functional has length of 8
Typ     1915
Min2      42
Min1      42
Mod       29
Maj1      12
Maj2       7
Sal        2
Sev        2
Name: Functional, dtype: int64
============================================================
Fireplaces has length of 5
[0 1 2 4 3]
==============================
Fireplaces has length of 5
0    1000
1     898
2     146
3       6
4       1
Name: Fireplaces, dtype: int64
============================================================
Fireplace Qu has length of 6
[nan 'TA' 'Gd' 'Po' 'Ex' 'Fa']
==============================
Fireplace Qu has length of 5
Gd    523
TA    407
Fa     59
Ex     31
Po     31
Name: Fireplace Qu, dtype: int64
============================================================
Garage Type has length of 7
['Attchd' 'Detchd' 'BuiltIn' 'Basment' nan '2Types' 'CarPort']
==============================
Garage Type has length of 6
Attchd     1213
Detchd      536
BuiltIn     132
Basment      27
2Types       19
CarPort      11
Name: Garage Type, dtype: int64
============================================================
Garage Finish has length of 4
['RFn' 'Unf' 'Fin' nan]
==============================
Garage Finish has length of 3
Unf    849
RFn    579
Fin    509
Name: Garage Finish, dtype: int64
============================================================
Garage Cars has length of 7
[ 2.  1.  3.  0.  4.  5. nan]
==============================
Garage Cars has length of 6
2.0    1136
1.0     524
3.0     263
0.0     113
4.0      13
5.0       1
Name: Garage Cars, dtype: int64
============================================================
Garage Qual has length of 6
['TA' 'Fa' nan 'Gd' 'Ex' 'Po']
==============================
Garage Qual has length of 5
TA    1832
Fa      82
Gd      18
Ex       3
Po       2
Name: Garage Qual, dtype: int64
============================================================
Garage Cond has length of 6
['TA' 'Fa' nan 'Po' 'Gd' 'Ex']
==============================
Garage Cond has length of 5
TA    1868
Fa      47
Gd      12
Po       8
Ex       2
Name: Garage Cond, dtype: int64
============================================================
Paved Drive has length of 3
['Y' 'N' 'P']
==============================
Paved Drive has length of 3
Y    1861
N     151
P      39
Name: Paved Drive, dtype: int64
============================================================
3Ssn Porch has length of 22
[  0 176 224 162 168 120 407 144 150 255 508 180 140  96 323 153  86 216
 245 182 290 304]
==============================
3Ssn Porch has length of 22
0      2025
153       3
168       3
144       2
176       1
86        1
96        1
120       1
140       1
150       1
162       1
407       1
323       1
182       1
216       1
224       1
290       1
304       1
508       1
245       1
255       1
180       1
Name: 3Ssn Porch, dtype: int64
============================================================
Pool Area has length of 10
[  0 519 576 800 228 480 648 738 368 561]
==============================
Pool Area has length of 10
0      2042
561       1
519       1
800       1
738       1
648       1
576       1
480       1
368       1
228       1
Name: Pool Area, dtype: int64
============================================================
Pool QC has length of 5
[nan 'Fa' 'Gd' 'Ex' 'TA']
==============================
Pool QC has length of 4
Gd    4
Fa    2
TA    2
Ex    1
Name: Pool QC, dtype: int64
============================================================
Fence has length of 5
[nan 'MnPrv' 'GdPrv' 'GdWo' 'MnWw']
==============================
Fence has length of 4
MnPrv    227
GdPrv     83
GdWo      80
MnWw      10
Name: Fence, dtype: int64
============================================================
Misc Feature has length of 6
[nan 'Shed' 'TenC' 'Gar2' 'Othr' 'Elev']
==============================
Misc Feature has length of 5
Shed    56
Gar2     4
Othr     3
Elev     1
TenC     1
Name: Misc Feature, dtype: int64
============================================================
Misc Val has length of 28
[    0   400   500  2000   650   600  1200   480   700   450  3000 12500
  4500   460  3500  8300   455   300  1150   900    54  6500   800  1500
  2500  1300 17000    80]
==============================
Misc Val has length of 28
0        1986
400        12
500         8
600         6
2000        5
450         5
700         4
2500        2
4500        2
3000        2
1200        2
80          1
8300        1
12500       1
460         1
300         1
54          1
3500        1
480         1
650         1
800         1
900         1
1150        1
1300        1
1500        1
6500        1
455         1
17000       1
Name: Misc Val, dtype: int64
============================================================
Mo Sold has length of 12
[ 3  4  1  6  5  9  7  2 12 10 11  8]
==============================
Mo Sold has length of 12
6     352
7     303
5     257
4     208
3     168
8     167
10    123
9     109
2     104
11    103
1      79
12     78
Name: Mo Sold, dtype: int64
============================================================
Yr Sold has length of 5
[2010 2009 2006 2007 2008]
==============================
Yr Sold has length of 5
2007    498
2009    446
2006    438
2008    435
2010    234
Name: Yr Sold, dtype: int64
============================================================
Sale Type has length of 9
['WD ' 'New' 'COD' 'ConLD' 'Con' 'CWD' 'Oth' 'ConLI' 'ConLw']
==============================
Sale Type has length of 9
WD       1781
New       160
COD        63
ConLD      17
CWD        10
ConLI       7
ConLw       5
Oth         4
Con         4
Name: Sale Type, dtype: int64
============================================================

### Here I created two functions to completed data cleaning for the training and test sets, this was updated throughout the EDA process.

In [11]:
# Credit to Haley Taft for showing me how this could work.
def clean_train(dataframe, inplace=True):
    ## BELOW HERE IS WHERE I SET MY MAPPING DICTIONARIES TO REPLACE VALUES IN THE DATAFRAME ##
    replace_values = {'Reg': 4, 'IR1': 3, 'IR2': 2, 'IR3': 1, 
     'AllPub': 4, 'NoSewr': 3, 'NoSeWa': 2, 'ELO': 1,
     'Gtl': 3, 'Mod': 2, 'Sev': 1,
     'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1,
     'Gd': 4, 'Av': 3, 'Mn': 2, 'No':1,
     'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1,
     'N': 0, 'Y': 1,
     'SBrkr': 5, 'FuseA': 4, 'FuseF': 3, 'FuseP': 2, 'Mix': 1,
     'Typ': 8, 'Min1': 7, 'Min2': 6, 'Mod': 5, 'Maj1': 4, 'Maj2': 3, 'Sev': 2, 'Sal': 1,
     'Fin': 3, 'RFn': 2, 'Unf': 1,
     'Y': 3, 'P': 2, 'N': 1,
     'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'NA' : 0
     }
    replace_values_na = {np.nan: "NA"}
    replace_values_nan = {np.nan: 0}
    
    ## HERE IS WHERE I USED THE MAPPING DICTIONARIES TO REPLACE THE VALUES
    dataframe['Bsmt Qual'] = dataframe['Bsmt Qual'].replace(replace_values_nan)
    dataframe['Bsmt Cond'] = dataframe['Bsmt Cond'].replace(replace_values_nan)
    dataframe['Bsmt Exposure'] = dataframe['Bsmt Exposure'].replace(replace_values_nan)
    dataframe['BsmtFin Type 1'] = dataframe['BsmtFin Type 1'].replace(replace_values_nan)
    dataframe['BsmtFin Type 2'] = dataframe['BsmtFin Type 2'].replace(replace_values_nan)
    dataframe['Bsmt Full Bath'] = dataframe['Bsmt Full Bath'].replace(replace_values_nan)
    dataframe['Bsmt Half Bath'] = dataframe['Bsmt Half Bath'].replace(replace_values_nan)
    dataframe['Fireplace Qu'] = dataframe['Fireplace Qu'].replace(replace_values_nan)
    dataframe['Garage Finish'] = dataframe['Garage Finish'].replace(replace_values_nan)
    dataframe['Garage Qual'] = dataframe['Garage Qual'].replace(replace_values_nan)
    dataframe['Garage Cond'] = dataframe['Garage Cond'].replace(replace_values_nan)
    dataframe['Fireplace Qu'] = dataframe['Fireplace Qu'].replace(replace_values_nan)
    dataframe['Garage Cars'] = dataframe['Garage Cars'].replace(replace_values_nan)
    dataframe['Garage Area'] = dataframe['Garage Area'].replace(replace_values_nan)
    dataframe['Pool QC'] = dataframe['Pool QC'].replace(replace_values_nan)
    dataframe['Fence'] = dataframe['Fence'].replace(replace_values_nan)
    dataframe['Lot Frontage'] = dataframe['Lot Frontage'].replace(replace_values_nan)
    dataframe['Alley'] = dataframe['Alley'].replace(replace_values_na)
    dataframe['Mas Vnr Type'] = dataframe['Mas Vnr Type'].replace(replace_values_na)
    dataframe['Mas Vnr Area'] = dataframe['Mas Vnr Area'].replace(replace_values_nan)
    dataframe['Mas Vnr Area'] = dataframe['Mas Vnr Area'].replace(replace_values_nan)
    dataframe['BsmtFin SF 1'] = dataframe['BsmtFin SF 1'].replace(replace_values_nan)
    dataframe['BsmtFin SF 2'] = dataframe['BsmtFin SF 2'].replace(replace_values_nan)
    dataframe['Bsmt Unf SF'] = dataframe['Bsmt Unf SF'].replace(replace_values_nan)
    dataframe['Total Bsmt SF'] = dataframe['Total Bsmt SF'].replace(replace_values_nan)
    dataframe['Garage Type'] = dataframe['Garage Type'].replace(replace_values_na)
    dataframe['Garage Yr Blt'] = dataframe['Garage Yr Blt'].replace({np.nan: 1980})
    dataframe['Misc Feature'] = dataframe['Misc Feature'].replace(replace_values_na)
    dataframe['Electrical'] = dataframe['Electrical'].replace(replace_values_nan)
    dataframe = dataframe.replace(replace_values)
    
    ## AFTER EDA I DETERMINED THAT I WANTED TO REMOVE THE OUTLIERS BELOW BASED ON SQUARE FOOTAGE
    
    dataframe = dataframe[(dataframe['Gr Liv Area'] < 4000)]
    dataframe = dataframe[(dataframe['Lot Area'] < 40000)]
    
    ## AFTER EDA I DECIDED TO CREATE THIS FEATURE COLUMN
    dataframe['Exter Qual and Gr Liv Area'] = dataframe['Exter Qual'] * dataframe['Gr Liv Area']
   
    return dataframe

In [12]:
def clean_test(dataframe, inplace=True):
    ## BELOW HERE IS WHERE I SET MY MAPPING DICTIONARIES TO REPLACE VALUES IN THE DATAFRAME ##
    replace_values = {'Reg': 4, 'IR1': 3, 'IR2': 2, 'IR3': 1, 
     'AllPub': 4, 'NoSewr': 3, 'NoSeWa': 2, 'ELO': 1,
     'Gtl': 3, 'Mod': 2, 'Sev': 1,
     'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1,
     'Gd': 4, 'Av': 3, 'Mn': 2, 'No':1,
     'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1,
     'N': 0, 'Y': 1,
     'SBrkr': 5, 'FuseA': 4, 'FuseF': 3, 'FuseP': 2, 'Mix': 1,
     'Typ': 8, 'Min1': 7, 'Min2': 6, 'Mod': 5, 'Maj1': 4, 'Maj2': 3, 'Sev': 2, 'Sal': 1,
     'Fin': 3, 'RFn': 2, 'Unf': 1,
     'Y': 3, 'P': 2, 'N': 1,
     'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'NA' : 0
     }
    replace_values_na = {np.nan: "NA"}
    replace_values_nan = {np.nan: 0}
    ## HERE IS WHERE I USED THE MAPPING DICTIONARIES TO REPLACE THE VALUES
    dataframe['Bsmt Qual'] = dataframe['Bsmt Qual'].replace(replace_values_nan)
    dataframe['Bsmt Cond'] = dataframe['Bsmt Cond'].replace(replace_values_nan)
    dataframe['Bsmt Exposure'] = dataframe['Bsmt Exposure'].replace(replace_values_nan)
    dataframe['BsmtFin Type 1'] = dataframe['BsmtFin Type 1'].replace(replace_values_nan)
    dataframe['BsmtFin Type 2'] = dataframe['BsmtFin Type 2'].replace(replace_values_nan)
    dataframe['Bsmt Full Bath'] = dataframe['Bsmt Full Bath'].replace(replace_values_nan)
    dataframe['Bsmt Half Bath'] = dataframe['Bsmt Half Bath'].replace(replace_values_nan)
    dataframe['Fireplace Qu'] = dataframe['Fireplace Qu'].replace(replace_values_nan)
    dataframe['Garage Finish'] = dataframe['Garage Finish'].replace(replace_values_nan)
    dataframe['Garage Qual'] = dataframe['Garage Qual'].replace(replace_values_nan)
    dataframe['Garage Cond'] = dataframe['Garage Cond'].replace(replace_values_nan)
    dataframe['Fireplace Qu'] = dataframe['Fireplace Qu'].replace(replace_values_nan)
    dataframe['Garage Cars'] = dataframe['Garage Cars'].replace(replace_values_nan)
    dataframe['Garage Area'] = dataframe['Garage Area'].replace(replace_values_nan)
    dataframe['Pool QC'] = dataframe['Pool QC'].replace(replace_values_nan)
    dataframe['Fence'] = dataframe['Fence'].replace(replace_values_nan)
    dataframe['Lot Frontage'] = dataframe['Lot Frontage'].replace(replace_values_nan)
    dataframe['Alley'] = dataframe['Alley'].replace(replace_values_na)
    dataframe['Mas Vnr Type'] = dataframe['Mas Vnr Type'].replace(replace_values_na)
    dataframe['Mas Vnr Area'] = dataframe['Mas Vnr Area'].replace(replace_values_nan)
    dataframe['Mas Vnr Area'] = dataframe['Mas Vnr Area'].replace(replace_values_nan)
    dataframe['BsmtFin SF 1'] = dataframe['BsmtFin SF 1'].replace(replace_values_nan)
    dataframe['BsmtFin SF 2'] = dataframe['BsmtFin SF 2'].replace(replace_values_nan)
    dataframe['Bsmt Unf SF'] = dataframe['Bsmt Unf SF'].replace(replace_values_nan)
    dataframe['Total Bsmt SF'] = dataframe['Total Bsmt SF'].replace(replace_values_nan)
    dataframe['Garage Type'] = dataframe['Garage Type'].replace(replace_values_na)
    dataframe['Garage Yr Blt'] = dataframe['Garage Yr Blt'].replace({np.nan: 1980})
    dataframe['Misc Feature'] = dataframe['Misc Feature'].replace(replace_values_na)
    dataframe['Electrical'] = dataframe['Electrical'].replace(replace_values_nan)
    dataframe = dataframe.replace(replace_values)
    
    ## create feature column with Exter Qual and Grand Living Area ##
    dataframe['Exter Qual and Gr Liv Area'] = dataframe['Exter Qual'] * dataframe['Gr Liv Area']
   
    return dataframe

In [13]:
# Using functions above to complete the cleaning on both sets
train_df2 = clean_train(train_df)
test_df2 = clean_test(test_df)

In [14]:
train_df2.shape

(2034, 81)

In [15]:
test_df2.shape

(878, 80)

In [16]:
train_df2.describe()

,PID,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Year Built,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Val,Mo Sold,Yr Sold,SalePrice,Exter Qual and Gr Liv Area
count,2.034000e+03,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,...,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000
mean,7.130739e+08,57.141101,57.819076,9636.329400,3.603736,3.998525,3.078171,6.107178,5.563422,1971.675516,...,2.613078,16.320059,1.906096,0.011799,0.579646,43.401672,6.215831,2007.777778,180661.483284,5196.705015
std,1.886583e+08,42.814477,32.247120,4039.056246,0.558709,0.049571,0.400793,1.419531,1.106774,30.238483,...,25.333763,56.972205,34.256225,0.210072,1.215087,435.948787,2.743346,1.312761,78182.888787,2265.272436
min,5.263011e+08,20.000000,0.000000,1300.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1872.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000,668.000000
25%,5.284582e+08,20.000000,44.000000,7500.000000,3.000000,4.000000,3.000000,5.000000,5.000000,1953.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000,3414.000000
50%,5.354531e+08,50.000000,63.000000,9373.000000,4.000000,4.000000,3.000000,6.000000,5.000000,1974.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,162000.000000,4782.000000
75%,9.071758e+08,70.000000,78.000000,11433.250000,4.000000,4.000000,3.000000,7.000000,6.000000,2001.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213187.500000,6412.500000
max,9.241520e+08,190.000000,313.000000,39384.000000,4.000000,4.000000,5.000000,10.000000,9.000000,2010.000000,...,508.000000,490.000000,800.000000,5.000000,4.000000,12500.000000,12.000000,2010.000000,611657.000000,16950.000000

In [17]:
test_df2.describe()

,PID,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Year Built,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Val,Mo Sold,Yr Sold,Exter Qual and Gr Liv Area
count,8.780000e+02,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,...,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000
mean,7.162867e+08,58.268793,56.872437,10307.033030,3.602506,3.998861,3.077449,6.050114,5.566059,1970.492027,...,24.064920,2.597950,14.830296,1.884966,0.020501,0.586560,48.498861,6.202733,2007.825740,5176.816629
std,1.889103e+08,42.235407,34.269502,10002.674602,0.579264,0.033748,0.411817,1.369065,1.128903,30.395895,...,73.249463,24.962482,53.003794,29.916672,0.308805,1.224476,550.169317,2.642498,1.327861,2322.581662
min,5.263021e+08,20.000000,0.000000,1477.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1880.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,1198.000000
25%,5.284841e+08,20.000000,40.000000,7297.250000,3.000000,4.000000,3.000000,5.000000,5.000000,1954.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,3393.750000
50%,5.354542e+08,50.000000,60.000000,9446.000000,4.000000,4.000000,3.000000,6.000000,5.000000,1972.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,4737.000000
75%,9.071904e+08,70.000000,78.000000,11589.000000,4.000000,4.000000,3.000000,7.000000,6.000000,1999.750000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,6345.250000
max,1.007100e+09,190.000000,182.000000,215245.000000,4.000000,4.000000,5.000000,10.000000,9.000000,2010.000000,...,1012.000000,360.000000,576.000000,555.000000,5.000000,4.000000,15500.000000,12.000000,2010.000000,21580.000000

In [18]:
# creating new csv with cleaned dataframes
train_df2.to_csv('clean_train.csv')
test_df2.to_csv('clean_test.csv')